// _base.scss
// -------------------------------------------------------------

// /*
//  * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
//  * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
//  */

// Default base classes to extend

%background-noise {
    background-image: image-url('texture/noise-96-subtle.png');
}
html {
    font-family: 'mobile'; // for js media queries
    font-size: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    @extend %type-primary;
    @extend %background-noise;
    color: $color-text;
    background-color: $color-body;
    padding: 0;
    margin: 0;
    word-spacing: $word-spacing;
    height: 100%;
}

// /* elements to display using border-box method */
//article, aside, details, div, figcaption, figure, footer, header, hgroup, nav, section { @include box-sizing(border-box); }

// /*
//  * Remove text-shadow in selection highlight: h5bp.com/i
//  * These selection declarations have to be separate
//  * Also: hot pink! (or customize the background color to match your design)
//  */

::-moz-selection { background: $color-selection-bg; color: $color-selection-text; text-shadow: none; }
::selection { background: $color-selection-bg; color: $color-selection-text; text-shadow: none; }



// /* Embedded content
//  * ========================================================================== */

// /*
//  * 1. Improve image quality when scaled in IE7: h5bp.com/d
//  * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
//  */

img {
    max-width: 100%;
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
    filter: 0;
}
hr {
    border: solid $grey-light;
    border-width: 1px 0 0;
    margin: 1.5em 0 2.5em;
}
