/*****************************************
    tabs
*****************************************/
.tabs {
    padding: 0;
    list-style: none;
    }
.tabs li {
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;
    }
.tabs li a {
    background: #e0e3dc;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #5e5e5d;
    display: block;
    padding: 8px 30px;
    width: 195px;
    }
.tabs li.current a,
.tabs li a:hover,
.tabs li a:focus {
    background: #4a4a4a;
    color: #fff;
    }
