<div id="content" class="grid-container">
    <div class="grid-row">
        <div class="grid-col-9 content-body">
            {{ content }}
        </div>
        <div class="grid-col-3 content-sidebar">
            <h2 class="sidebar-heading">Sidebar heading</h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, quos, fuga eligendi quisquam laudantium ut corporis voluptate unde inventore ex minima modi rerum numquam provident pariatur officia nihil quod asperiores.</p>
        </div>
    </div>
</div>
