<div id="footer">
    <div class="grid-container">
        <div class="grid-row">
            <div class="footer-col grid-col-2">
                <h3 class="footer-heading">Recent</h3>
                <ul class="footer-navlist footer-left">
                    <li class="footer-navitem">Lorem ipsum dolor sit amet</li>
                    <li class="footer-navitem">Consectetur adipisicing</li>
                    <li class="footer-navitem">Quibusdam, veniam</li>
                </ul>
            </div>
            <div class="footer-col grid-col-2">
                <h3 class="footer-heading">Coming up</h3>
                <ul class="footer-navlist footer-right">
                    <li class="footer-navitem">Quo quis illo</li>
                    <li class="footer-navitem">Eum placeat minus iste unde</li>
                    <li class="footer-navitem">Stemporibus et obcaecati</li>
                </ul>
            </div>
            <div class="footer-logo grid-col-4">
                <h2 class="footer-logo-title">{{ site.name }}</h2>
            </div>
            <div class="footer-col grid-col-2">
                <h3 class="footer-heading">Heading</h3>
                <ul class="footer-navlist footer-left">
                    <li class="footer-navitem">Lorem ipsum dolor sit amet</li>
                    <li class="footer-navitem">Consectetur adipisicing</li>
                    <li class="footer-navitem">Quas, tempora</li>
                </ul>
            </div>
            <div class="footer-col grid-col-2">
                <h3 class="footer-heading">Contact</h3>
                <ul class="footer-navlist footer-right">
                    <li class="footer-name footer-navitem">Your name</li>
                    <li class="footer-twitter footer-navitem">@twitter</li>
                    <li class="footer-navitem">@whatever</li>
                    <li class="footer-email footer-navitem">you@example.com</li>
                </ul>
            </div>
        </div>
    </div>
</div>
