<div id="footer">
    <div class="grid-container">
        <div class="grid-row">
            <div class="footer-col grid-col-4">
                <h3 class="footer-heading">Recent</h3>
                <ul class="footer-navlist">
                    <li class="footer-navitem">June 13: NAISA presentation</li>
                    <li class="footer-navitem">Saskatoon, Canada</li>
                </ul>
            </div>
            <div class="footer-col grid-col-4">
                <h3 class="footer-heading">Contact</h3><a id="contact" name="contact"></a>
                <ul class="footer-navlist">
                    <li class="footer-email footer-navitem">timperley@virginia.edu</li>
                    <li class="footer-department footer-navitem">Woodrow Wilson Department of Politics</li>
                    <li class="footer-address footer-navitem">PO Box 400787 Charlottesville, VA 22904</li>
                </ul>
            </div>  
            <div class="footer-col grid-col-4">
				<h3 class="footer-heading">Upcoming</h3>
                <ul class="footer-navlist">
                	<li class="footer-navitem">Aug 29: APSA presentation</li>
                    <li class="footer-navitem">Chicago, IL</li>
                </ul>
            </div>
        </div>
    </div>
</div>
