<div id="header">
    <div class="grid-container">
        <div class="grid-row">
            <div class="header-logo grid-col-3">
                <h1 class="header-logo-title"><a href="{{ site.baseurl }}">{{ site.name }}</a></h1>
            </div>
            <div class="header-nav grid-col-9">
                <ul class="header-navlist">
                    <li class="header-navitem"><a href="{{ site.baseurl }}teaching/" class="header-navlink">Teaching</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
