<div id="hero">
    <div class="grid-container">
        <div class="hero-content grid-row">
            <div class="grid-col-12">
                <h1 class="header-title">Indigenous Politics in the Time of Cholera</h1>
            </div>
            <div class="grid-col-4">
                <h3 class="header-subheading">Research</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto magni deleniti quasi molestiae fugiat voluptates a repellat possimus obcaecati odit.</p>
                <p><a href="{{ site.baseurl }}research" class="read-more">read more&hellip;</a></p>
            </div>
            <div class="grid-col-4">
                <h3 class="header-subheading">Teaching</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto magni deleniti quasi molestiae fugiat voluptates a repellat possimus obcaecati odit.</p>
                <p><a href="{{ site.baseurl }}teaching" class="read-more">read more&hellip;</a></p>
            </div>
            <div class="grid-col-4">
                <h3 class="header-subheading">Writing</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto magni deleniti quasi molestiae fugiat voluptates a repellat possimus obcaecati odit.</p>
                <p><a href="{{ site.baseurl }}publications" class="read-more">read more&hellip;</a></p>
            </div>
        </div>
    </div>
</div>
