<div id="hero">
    <div class="grid-container">
        <div class="hero-content grid-row">
            <div class="grid-col-12">
                <h1>This is the hero you deserve</h1>
            </div>
            <div class="grid-col-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto magni deleniti quasi molestiae fugiat voluptates a repellat possimus obcaecati odit. Eaque, deleniti, ipsa aut reprehenderit accusantium veritatis sapiente veniam ducimus.</p>
            </div>
            <div class="grid-col-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto magni deleniti quasi molestiae fugiat voluptates a repellat possimus obcaecati odit. Eaque, deleniti, ipsa aut reprehenderit accusantium veritatis sapiente veniam ducimus.</p>
            </div>
            <div class="grid-col-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto magni deleniti quasi molestiae fugiat voluptates a repellat possimus obcaecati odit. Eaque, deleniti, ipsa aut reprehenderit accusantium veritatis sapiente veniam ducimus.</p>
            </div>
        </div>
    </div>
</div>
