#content {
    padding-top: 3em;
    padding-bottom: 5em;
    background: $color-bg;
    border: solid $grey-lighter;
    border-width: 0 1px;
}
.content-sidebar {
    // this might be simple markdown-converted content,
    // therefore can't rely on particular classes being applied
    @extend %type-sans;
    h2, h3 {
        @extend %type-primary;
        color: $grey;
    }
    p {
        @include type-scale(1);
    }
}
