#header {
    background: $color-theme;
    border: solid shade($color-theme, 10%);
    border-width: 0 0 1px 0;
    padding: 1em 0;
}
.header-logo {

}
.header-logo-title {
    @include type-scale(3);
    margin: 0;
}
.header-nav {
    @extend %type-sans;
}
.header-navlist {
    @extend %list-horiz-block;
}
