#header {
    background-color: white;
    padding: 1em 0;
    border: solid $grey-light;
    border-width: 0 0 1px;
    a {
        color: $color-text;
    }
}
.header-logo {

}
.header-logo-title {
    @include type-scale(3);
    margin: 0;
}
.header-nav {
    @extend %type-sans;
    @extend %type-light;
    text-align: right;
}
.header-navlist {
    @extend %list-horiz-block;
}
