// _layout.scss
// ------------

// Vertical rhythm
$hero-vertical-space:               2.8em;
$hero-vertical-space-mobile:        1.8em;

$section-vertical-space:            4em;
$section-vertical-space-mobile:     3em;


// Layout
$header-height:                     60px;
$grid-full-width-max-width:         1000px;

$nav-height-skinny:                 55px;
$nav-height-mobile:                 445px;

// Spacing
%add-top-spacing {
    padding-top: $section-vertical-space;
    @include media('mobile-only') {
        padding-top: $section-vertical-space-mobile;
    }
}

%add-bottom-spacing {
    padding-bottom: $section-vertical-space;
    @include media('mobile-only') {
        padding-bottom: $section-vertical-space-mobile;
    }
}

.primary_content {
    @extend %add-bottom-spacing
}

.section {
    @extend %add-top-spacing;
}

%centered_horiz_list {
    text-align: center;
}
%centered_horiz_list_item {
    display: inline-block;
}
%centered {
    text-align: center;
}



%hide-mobile {
    @include media('mobile-only') {
        display: none;
    }
}


